.formLayout {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 20px;
}

.searchInput {
  border-radius: 10px;
  height: 25px;
  padding: 5px;
  border: 1px solid black;
}

.inputError {
  border: 1px solid red;
}
